/* You can add global styles to this file, and also import other style files */

body {
	background-color: var(--bs-gray-dark);
	color: var(--bs-light);
	font-family: 'Lato', sans-serif;
}

h1 {
	font-weight: 900;
}

h2, h3 {
	font-weight: 700;
}

button, .btn {
	margin: 10px;
}

a {
	color: var(--bs-orange);
}

.row{
	background-color: #1DB954;
	font-family: 'Allerta Stencil', sans-serif;
	color: #191414;
}

.container{
	display:flex;
	justify-content: center;
	
}

.carousel{
	margin: auto;
	text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  height: 400px; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 400px; 
}


.playlist-title{
	color: white;
}