<h1>Search Spotify</h1>
<!--bind input's model to searchString-->
<input [(ngModel)]="searchString" placeholder="Search">

<!--Call search function when the button is clicked-->
<button class="btn btn-light" (click)="search()">Search</button>
<div *ngIf="message">{{message}}</div>

<!--Display results. Bind carousel's resources and give it a static carouselId.-->
<div class="container">
    <app-carousel class="carousel" [carouselId]="searchString" [resources]="resources">Here</app-carousel>
</div>
