<!-- bind src with the playlist image URL-->
<img class="d-block w-100" [src]="resource.imageURL" alt="image cover of current playlist">
<div class="carousel-caption d-none d-md-block"></div>
<div>
	<h5 style="margin:10px 0px 50px 0px;">
		{{resource.name}}
	</h5>
</div>

<!--bind vega lite data to each carousel card displayed so it changes each time the carousel changes-->
<div class = "visualization">
	<app-vega-viz [resourceId]="resource.id"></app-vega-viz>
	<h5>Visualization of Playlist</h5>
</div>
